node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.kamal/secrets
.kamal/secrets-common
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
.tmp/


data/*.sqlite
data/*.sqlite-*
/.pi/todos
